<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise-fade-rotating" [fullScreen] = "true"></ngx-spinner>
<div class="adddistrict">
    <div class="container">
    <div class="card shadow ">
        <h4 class="card-header" *ngIf="!updateFlag">
          اضافة منطقة جديده
        </h4>
        <h4 class="card-header" *ngIf="updateFlag">
          تعديل منطقة 
        </h4>
        <div class="card-body">
            <form class="example-form" #form="ngForm" (ngSubmit)="Add(form.value)">
                <div class="row">
                <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill" [class.has-error]="arControl.invalid && arControl.touched">
                  <mat-label>الاسم بالغه العربية</mat-label>
                  <input matInput 
                  [(ngModel)]="arname" 
                  name= "arname"  
                  autocomplete="off"
                  required
                  #arControl="ngModel">
                  <mat-error class="text-danger" *ngIf="arControl.invalid && arControl.touched">يجب ادخال الاسم بالغه العربية</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill" [class.has-error]="enControl.invalid && enControl.touched">
                    <mat-label>الاسم بالغه الانجليزية</mat-label>
                    <input matInput 
                    [(ngModel)]="enname" 
                    name= "enname"  
                    autocomplete="off"
                    required
                    #enControl="ngModel">
                    <mat-error class="text-danger" *ngIf="enControl.invalid && enControl.touched">يجب ادخال الاسم بالغه الانجليزية</mat-error>
                  </mat-form-field>
            </div>
            <div class="col-md-6" *ngIf="!updateFlag">
                <mat-form-field appearance="fill">
                    <mat-label>المنطقة</mat-label>
                    <mat-select [(ngModel)]="districtId" name="districtId">
                      <mat-option *ngFor="let district of districts" [value]="district._id">
                        {{district.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
        <div class="flex-button">
            <button mat-raised-button 
            color="primary"
            *ngIf="!updateFlag"
            [disabled]="form.invalid">اضف</button>
            <button mat-raised-button 
            color="primary"
            *ngIf="updateFlag"
            [disabled]="form.invalid">تعديل</button>
        </div>      
        </form>
        </div>
      </div>
    </div>
    </div>