
.mat-form-field{
    width: 100%;
    font-family: "Almarai";
}
.flex-button{
    display: flex;
    justify-content: flex-end;
}
button{
    font-family: "Almarai";
}
.button{
    display:none
}
.pointer{
    cursor: pointer;
}
.visible{
    display: flex;
}
.rid{
    display: none;
    }img{
        width: 150px; height:auto;
        max-height: 150px;
        padding:5px;
    }