<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise-fade-rotating" [fullScreen] = "true"></ngx-spinner>
<div class="alert alert-danger" role="alert" style="display: flex;justify-content: space-between;" *ngIf="AdminRole == 'editor'">
  <span>No Authorization</span>
</div>
<div class="add" >
    <div class="container">
    <div class="card shadow ">
        <h4 class="card-header">
          {{'Add Order' | translate}}
        </h4>
        <div class="card-body">
            <form class="example-form" #form="ngForm" (ngSubmit)="Add(form.value)">
                <div class="row">
                <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill" [class.has-error]="quantityControl.invalid && quantityControl.touched">
                  <mat-label>{{'Quantity' | translate}}</mat-label>
                  <input matInput 
                  [(ngModel)]="quantity"
                   name= "quantity"
                   autocomplete="off"
                   required
                   #quantityControl="ngModel">  
                  <mat-error class="text-danger" *ngIf="quantityControl.invalid && quantityControl.touched">{{'Enter the quantity' | translate}}</mat-error>
                </mat-form-field>
            </div>
            <section class="col-md-6">
                <mat-form-field appearance="fill" [class.has-error]="productControl.invalid && productControl.touched">
                  <mat-label>{{'product' | translate}}</mat-label>
                  <mat-select [(ngModel)]="productId" name="productId"
                  required
                  #productControl="ngModel">
                    <mat-option *ngFor="let product of products" [value]=product._id>{{product.name}}</mat-option>
                  </mat-select>
                  <mat-error class="text-danger" *ngIf="productControl.invalid && productControl.touched">{{'Enter the product' | translate}}</mat-error>
                </mat-form-field>
               </section>
               <section class="col-md-6">
                   <mat-form-field appearance="fill" [class.has-error]="clientControl.invalid && clientControl.touched">
                     <mat-label>{{'client' | translate}}</mat-label>
                     <mat-select [(ngModel)]="clientId" name="clientId"
                     required
                     #clientControl="ngModel">
                       <mat-option *ngFor="let client of clients" [value]=client._id>{{client.name}}</mat-option>
                     </mat-select>
                     <mat-error class="text-danger" *ngIf="clientControl.invalid && clientControl.touched">{{'Enter the client' | translate}}</mat-error>
                   </mat-form-field>
                  </section>
                  </div>
        <div class="flex-button">
            <button mat-raised-button 
            color="primary"
            class="button"
            *ngIf="!updateFlag"
            [disabled]="form.invalid">{{'Add' | translate}}</button>
            <button mat-raised-button 
            color="primary"
            *ngIf="updateFlag"
            [disabled]="form.invalid">{{'Update' | translate}}</button>
        </div>      
        </form>
        </div>
      </div>
    </div>
    </div>