<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise-fade-rotating" [fullScreen] = "true"></ngx-spinner>

<div class="alert alert-danger" role="alert" style="display: flex;justify-content: space-between;" *ngIf="AdminRole == 'editor'">
    <span>No Authorization</span>
  </div>
<div class="add" *ngIf="AdminRole != 'editor'">
    <div class="container">
    <div class="card shadow ">
        <h4 class="card-header"
        *ngIf="!updateFlag">
          {{'Add Ads' | translate}}
        </h4>
        <h4 class="card-header"
        *ngIf="updateFlag">
          {{'Edit Ads' | translate}} 
        </h4>
        <div class="card-body">
            <form class="example-form" #form="ngForm" (ngSubmit)="Add(form.value)">
                <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill" 
                >
                    <mat-label>{{'URL' | translate}}</mat-label>
                    <input matInput 
                    type="url"
                    [(ngModel)]="url" 
                    name= "url"
                    autocomplete="off">
                    <!-- <mat-error class="text-danger" *ngIf="urlControl.invalid && urlControl.touched">{{'Enter url' | translate}}</mat-error> -->
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <img [src]="imageSrc" class="imageSrc"
                onerror= "this.src='assets/img/1274512-placeholder.png';"/><br>
                <button (click)="uploadFile()" type="button" mat-raised-button >{{'Upload' | translate}}</button>
            <mat-form-field style="display:none">
                <input matInput placeholder="Color" name="imageSrc" [(ngModel)] = "imageSrc">
            </mat-form-field>
            </div>
        </div>
        <div class="flex-button">
            <button mat-raised-button 
            color="primary"
            class="button"
            *ngIf="!updateFlag"
            [disabled]="form.invalid">{{'Add' | translate}}</button>
            <button mat-raised-button 
            color="primary"
            *ngIf="updateFlag"
            [disabled]="form.invalid">{{'Update' | translate}}</button>
        </div>      
        </form>
        </div>
      </div>
    </div>
    </div>