<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise-fade-rotating" [fullScreen] = "true"></ngx-spinner>
<div class="add">
    <div class="container">
    <div class="card shadow ">
      <div class="card-header" style="display:flex;justify-content:space-between;align-items: center;">
        <h4 
        *ngIf="updateFlag">
          {{'Order Details' | translate}} 
        </h4>
        <button mat-raised-button color="primary" type="button" (click)="PrintDiv()">{{'Print Invoice' | translate}}</button>
        
      </div>
        <div class="card-body">
            <form class="example-form" #form="ngForm">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">{{'Order Details' | translate}}</legend>
                        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'orderId' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="orderId" 
                    name= "orderId"
                    readonly>
                </mat-form-field>
            </div>
             <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'date' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="date" 
                    name= "date"
                    readonly>
                </mat-form-field>
            </div>
             <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'price' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="price" 
                    name= "price" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'discount' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="discount" 
                    name= "discount" readonly></mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'deliveryFees' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="deliveryFees"
                    name= "deliveryFees" readonly></mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'fromWallet' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="fromWallet"
                    name= "fromWallet" readonly></mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'subTotal' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="subTotal"
                    name= "subTotal" readonly></mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'paymentMethod' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="paymentMethod"
                    name= "paymentMethod" readonly></mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'status' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="state"
                    name= "state" readonly></mat-form-field>
            </div>
            <div class="col-md-6" *ngIf="paymentOrderId != null">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'paymentOrderId' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="paymentOrderId"
                    name= "paymentOrderId" readonly></mat-form-field>
            </div>
            <div class="col-md-12" *ngIf="note != ''">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'note' | translate}}</mat-label>
                    <textarea matInput
                    [(ngModel)]="note"
                    name= "note" readonly></textarea></mat-form-field>
            </div>
           
</div>             
</fieldset>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">{{'Client Information' | translate}}</legend>
<div class="row">
    
    <div class="col-md-6">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{'name' | translate}}</mat-label>
            <input matInput
            [(ngModel)]="name"
            name= "name" readonly></mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>{{'Phone Number' | translate}}</mat-label>
                <input matInput
                [(ngModel)]="phone"
                name= "phone" readonly></mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'E-mail' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="email"
                    style="text-transform: none;"
                    name= "email" readonly></mat-form-field>
                </div>
        </div>  
</fieldset>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">{{'Client Address' | translate}}</legend>
<div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'title' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="title"
                    name= "title" readonly></mat-form-field>
                </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'apartment' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="apartment"
                    name= "apartment" readonly></mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'floor' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="floor"
                    name= "floor" readonly></mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'building' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="building"
                    name= "building" readonly></mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'street' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="street"
                    name= "street" readonly></mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'areaName' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="areaName"
                    name= "areaName" readonly></mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'cityName' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="cityName"
                    name= "cityName" readonly></mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'landmark' | translate}}</mat-label>
                    <input matInput
                    [(ngModel)]="landmark"
                    name= "landmark" readonly></mat-form-field>
            </div>
        </div>  
</fieldset>




<fieldset class="scheduler-border" style="display:none;">
  <legend class="scheduler-border">{{'Add product' | translate}}</legend>
<div class="row" style="align-items:center">
          
      <section class="col-md-5">
        <mat-form-field appearance="fill" [class.has-error]="productControl.invalid && productControl.touched">
          <mat-label>{{'product' | translate}}</mat-label>
          <mat-select [(ngModel)]="productId" name="productId"
          required
          #productControl="ngModel">
            <mat-option *ngFor="let product of products" [value]=product._id>{{product.name}}</mat-option>
          </mat-select>
          <mat-error class="text-danger" *ngIf="productControl.invalid && productControl.touched">{{'Enter the product' | translate}}</mat-error>
        </mat-form-field>
       </section>
       
       <div class="col-md-5">
        <mat-form-field class="example-full-width" appearance="fill" [class.has-error]="quantityControl.invalid && quantityControl.touched">
            <mat-label>{{'quantity' | translate}}</mat-label>
            <input matInput
            [(ngModel)]="quantity"
            name= "quantity"
            required
            #quantityControl="ngModel">
            <mat-error class="text-danger" *ngIf="quantityControl.invalid && quantityControl.touched">{{'Enter the quantity' | translate}}</mat-error>
          </mat-form-field>
        </div>

          <div class="col-md-2">
            
        <button mat-raised-button type="button" style="width:100%" (click)="newRow()" color="accent">{{'Add' | translate}}</button>
          </div>
      </div>  
</fieldset>

        </form>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">
                </th>
                <th scope="col">{{'#' | translate}}</th>
                <th scope="col">{{'Name' | translate}}</th>
                <th scope="col">{{'Quantity' | translate}}</th>
                <th scope="col">{{'Price' | translate}}</th>
                <th scope="col">{{'afterdiscount' | translate}}</th>
                <th scope="col"> {{'Action' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of carts; let i = index">
                <td>
                  <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="selectHandler(i)"
                  [checked]="selection.isSelected(i)">
                  </mat-checkbox>
                </td>
                <td>{{i + 1}}</td>
                <td>{{obj.product.name}}</td>
                <td>{{obj.quantity}}</td>
                <td>{{obj.product.price}}</td>
                <td>{{obj.product.priceAfterDiscount}}</td>
                <td>
                  <mat-icon style="color:dodgerblue"class="pointer"  title="{{'edit' | translate}}" 
                  (click)="openSm(changeQuantity, obj)" > edit </mat-icon>
                  <mat-icon style="color:red; cursor: pointer;"
                    title="{{'delete' | translate }}" (click)="delete(i)" >
                    delete </mat-icon>
                </td>
              </tr>
            </tbody>
          </table>




          <!-- <div class="mat-elevation-z8 example-container" > 

            <table mat-table [dataSource]="dataSource" >
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row; let i = index">
                  <mat-checkbox (click)="$event.stopPropagation()"
                  (change)="selectHandler(row,i)"
                                [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
               <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef> {{'ID' | translate}} </th>
                <td mat-cell *matCellDef="let element; let i = index;"> {{paginator.pageIndex * paginator.pageSize + i + 1}} </td>
              </ng-container> 
              
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef > {{'Name' | translate}} </th>
                    <td mat-cell *matCellDef="let element" > {{element.product.name }} </td>
                    
                  </ng-container>

                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef > {{'Quantity' | translate}} </th>
                  <td mat-cell *matCellDef="let element" > {{element.quantity }} </td>
                  
                </ng-container>
              
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef > {{'Price' | translate}} </th>
              <td mat-cell *matCellDef="let element" > {{element.product.price }} </td>
              
            </ng-container>
                  
                <ng-container matColumnDef="afterdiscount">
                    <th mat-header-cell *matHeaderCellDef > {{'afterdiscount' | translate}} </th>
                    <td mat-cell *matCellDef="let element" > {{element.product.priceAfterDiscount}}  
                       </td>
                  </ng-container>
                  
              
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="pointer"> {{'Action' | translate}}
                        <td mat-cell *matCellDef="let element; let i = index;" >
                          <mat-icon class="pointer" (click)="remove(i)"> delete </mat-icon>
                      </td>
                      </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20,50,100]" showFirstLastButtons></mat-paginator>
            
            </div> -->





        </div>
      </div>
    </div>
    </div>




    
    <ng-template #changeQuantity let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{'Change Quantity' | translate}} </h4>
      </div>
      <form #form="ngForm" >
      <div class="modal-body">
          <section class="row">
              <section class="col-md-12">
                  <mat-form-field>
                      <input matInput placeholder="{{'New Quantity' | translate}}" name="newQuantity" type="number" [(ngModel)]="newQuantity">
                  </mat-form-field>
              </section>
          </section>
     </div>
      <div class="modal-footer">
        <button class="primary-bg"  style="width:100%; text-align:center" (click)="editQuantity()" 
        type="button" mat-raised-button >{{'Add' | translate}}</button>
      </div>
    </form> 
    </ng-template>



    <div class="container" id="content">
      <div style="text-align: center;border-top:1px solid #000; border-bottom:1px solid #000;margin-bottom: 10px;">
        <h2 style="text-align: center;padding:10px 0;">Tamwenat Elzekrayat Invoice</h2>
      </div>
      <div class="row" style="display:flex;justify-content:space-between;flex-wrap: wrap;">
        <section class="col-md-6" style="max-width: 50%;flex: 0 0 50%;">
          <div class="row" style="display:flex;justify-content:space-between;flex-wrap: wrap;">
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          Customer | الزبون
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          :{{ name }}
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          E-mail Address | البريد الالكترونى
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          :{{ email }}
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          Phone Number | رقم الهاتف
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          :{{ phone }}
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          Address | العنوان
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          :{{ title }}
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          Area Name | المنطقه
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          :{{ areaName }}
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          City Name | المدينه
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          :{{ cityName }}
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          Street | شارع
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          :{{ street }}
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          Building | بناء
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          :{{ building }}
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          Apartment | شقة
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          :{{ apartment }}
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          Floor | الدور
        </div>
        <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
          :{{ floor }}
        </div>
      </div>
      </section>

      <section class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
        <section class="row" style="display:flex;justify-content:space-between;flex-wrap: wrap;">
          <div class="col-md-6" style="max-width: 50%;flex: 0 0 50%;">
            Order No. | رقم الطلب
          </div>
          <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
            :{{ orderId }}
          </div>
          <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
            Date | تاريخ الطلب
          </div>
          <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
            :{{ date }}
          </div>
          <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
            Order Status | حالة الطلب
          </div>
          <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
            :{{ state }}
          </div>
          <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
            Payment Method | طريقة الدفع
          </div>
          <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
            :{{ paymentMethod }}
          </div>
          <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
            Delivery Charge | رسوم التوصيل
          </div>
          <div class="col-md-6"style="max-width: 50%;flex: 0 0 50%;">
            :{{ deliveryFees }}
          </div>
        </section>
      </section>
      </div>

      
      <table style="margin-top:50px;width:100%">
        <thead>
          <tr>
            <th scope="col" style="text-align: center;">{{'#' | translate}}</th>
            <th scope="col" style="text-align: center;">Item | القطعه</th>
            <th scope="col" style="text-align: center;">Quantity | الكمية</th>
            <th scope="col" style="text-align: center;">Price | السعر</th>
            <th scope="col" style="text-align: center;">After Discount | بعد الخصم</th>
            <th scope="col" style="text-align: center;"><strong>Total | المجموع</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of carts; let i = index">
            <td style="text-align: center;">{{i + 1}}</td>
            <td style="text-align: center;">{{obj.product.name}}</td>
            <td style="text-align: center;">{{obj.quantity}}</td>
            <td style="text-align: center;">{{obj.product.price}}</td>
            <td style="text-align: center;">{{obj.product.priceAfterDiscount}}</td>
            <td style="text-align: center;">{{obj.quantity*obj.product.priceAfterDiscount}}</td>
          </tr>
          <tr>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"><strong>{{subTotal}}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>