
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.cart-item{
   .content-wrap{
      font-size: 0.85rem;
   }
}
.englishContainer{
   direction: ltr;
   text-align: left;
}
.arabicContainer{
   direction: rtl;
   text-align: right;
}