<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise-fade-rotating" [fullScreen] = "true"></ngx-spinner>
<div class="adddistrict">
    <div class="container">
    <div class="card shadow ">
        <h4 class="card-header">
          تغير كلمة السر
        </h4>
        <div class="card-body">
            <form class="example-form" #form="ngForm" (ngSubmit)="Update(form.value)">
                <div class="row">
                <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill" [class.has-error]="oldControl.invalid && oldControl.touched">
                  <mat-label>كلمة السر القديمة</mat-label>
                  <input matInput 
                  [(ngModel)]="old" 
                  name= "old"  
                  autocomplete="off"
                  required
                  #oldControl="ngModel">
                  <mat-error class="text-danger" *ngIf="oldControl.invalid && oldControl.touched">يجب ادخال كلمة السر القدية</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill" [class.has-error]="newControl.invalid && newControl.touched">
                    <mat-label>كلمة السر الجديدة</mat-label>
                    <input matInput 
                    [(ngModel)]="new" 
                    name= "new"  
                    autocomplete="off"
                    required
                    #newControl="ngModel">
                    <mat-error class="text-danger" *ngIf="newControl.invalid && newControl.touched">يجب ادخال كلمة السر الجديدة</mat-error>
                  </mat-form-field>
            </div>
        </div>
        <div class="flex-button">
            <button mat-raised-button 
            color="primary"
            [disabled]="form.invalid">تعديل</button>
        </div>      
        </form>
        </div>
      </div>
    </div>
    </div>