<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise-fade-rotating" [fullScreen] = "true"></ngx-spinner>
<div class="alert alert-danger" role="alert" style="display: flex;justify-content: space-between;" *ngIf="AdminRole == 'editor'">
  <span>No Authorization</span>
</div>
<div class="add" *ngIf="AdminRole != 'editor'">
    <div class="container">
    <div class="card shadow ">
        <h4 class="card-header"
        *ngIf="!updateFlag">
          {{'Add product' | translate}}
        </h4>
        <h4 class="card-header"
        *ngIf="updateFlag">
          {{'Edit product' | translate}} 
        </h4>
        <div class="card-body">
            <form class="example-form" #form="ngForm" (ngSubmit)="Add(form.value)">
                <div class="row">
                <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill" [class.has-error]="arControl.invalid && arControl.touched">
                  <mat-label>{{'Name in arabic' | translate}}</mat-label>
                  <input matInput 
                  [(ngModel)]="arname"
                   name= "arname"
                   autocomplete="off"
                   required
                   #arControl="ngModel">  
                  <mat-error class="text-danger" *ngIf="arControl.invalid && arControl.touched">{{'Enter name in arabic' | translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill" [class.has-error]="enControl.invalid && enControl.touched">
                    <mat-label>{{'Name in english' | translate}}</mat-label>
                    <input matInput 
                    [(ngModel)]="enname" 
                    name= "enname"
                    required
                    autocomplete="off"
                    #enControl="ngModel">
                    <mat-error class="text-danger" *ngIf="enControl.invalid && enControl.touched">{{'Enter name in english' | translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>{{'Description in arabic' | translate}}</mat-label>
                <input matInput 
                [(ngModel)]="arDescription"
                 name= "arDescription"
                 autocomplete="off">  
              </mat-form-field>
          </div>
          <div class="col-md-6">
              <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>{{'Description in english' | translate}}</mat-label>
                  <input matInput 
                  [(ngModel)]="enDescription" 
                  name= "enDescription"
                  autocomplete="off">
              </mat-form-field>
          </div>
          <div class="col-md-6">
              <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>{{'inventory' | translate}}</mat-label>
                  <input matInput 
                  [(ngModel)]="inventory" 
                  name= "inventory"
                  autocomplete="off">
              </mat-form-field>
          </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill" [class.has-error]="priceControl.invalid && priceControl.touched">
                    <mat-label>{{'Price' | translate}}</mat-label>
                    <input matInput 
                    [(ngModel)]="price" 
                    name= "price"
                    required
                    number
                    autocomplete="off"
                    #priceControl="ngModel">
                    <mat-error class="text-danger" *ngIf="priceControl.invalid && priceControl.touched">{{'Enter price' | translate}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>{{'discount' | translate}}</mat-label>
                    <input matInput 
                    [(ngModel)]="discount" 
                    name= "discount"
                    number
                    autocomplete="off">
                </mat-form-field>
            </div>
            
            <section class="col-md-6">
              <label >{{ 'featured' | translate}}</label><br>
              <input type="radio" style="margin:0 10px 0 0" name="featured" [(ngModel)]="featured" value=true>{{'Yes'|translate}}<br>
              <input type="radio" style="margin:0 10px 0 0" name="featured" [(ngModel)]="featured" value=false>{{'No' |translate}}
            </section>
      <!-- <section class="col-md-6">
        <mat-form-field appearance="fill" [class.has-error]="featuredControl.invalid && featuredControl.touched">
          <mat-label>{{'Featured' | translate}}</mat-label>
          <mat-select [(ngModel)]="featured" name="featured"
          required
          #featuredControl="ngModel">
            <mat-option value=true>{{'true' | translate}}</mat-option>
            <mat-option value=false>{{'false' | translate}}</mat-option>
          </mat-select>
          <mat-error class="text-danger" *ngIf="featuredControl.invalid && featuredControl.touched">{{'Enter the featured' | translate}}</mat-error>
        </mat-form-field>
       </section> -->
       <section class="col-md-6">
         <mat-form-field appearance="fill" [class.has-error]="subControl.invalid && subControl.touched">
           <mat-label>{{'subCategory' | translate}}</mat-label>
           <mat-select [(ngModel)]="subCategoryId" name="subCategoryId"
           required
           #subControl="ngModel">
             <mat-option *ngFor="let category of sub" [value]=category._id>{{category.name}}</mat-option>
           </mat-select>
           <mat-error class="text-danger" *ngIf="subControl.invalid && subControl.touched">{{'Enter the subcategory' | translate}}</mat-error>
         </mat-form-field>
        </section>
        
            <div class="col-md-6">
                <img [src]="imageSrc" class="imageSrc"
                onerror= "this.src='assets/img/1274512-placeholder.png';"/><br>
                <button (click)="uploadFile()" type="button" mat-raised-button >{{'Upload' | translate}}</button>
            <mat-form-field style="display:none">
                <input matInput placeholder="Color" name="imageSrc" [(ngModel)] = "imageSrc">
            </mat-form-field>
            </div>
        </div>

        
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{'tags' | translate}}</mat-label>
              <textarea matInput 
              [(ngModel)]="tags" 
              name= "tags"
              autocomplete="off"></textarea>
          </mat-form-field>
      </div>

        <div class="flex-button">
            <button mat-raised-button 
            color="primary"
            class="button"
            *ngIf="!updateFlag"
            [disabled]="form.invalid">{{'Add' | translate}}</button>
            <button mat-raised-button 
            color="primary"
            *ngIf="updateFlag"
            [disabled]="form.invalid">{{'Update' | translate}}</button>
        </div>      
        </form>
        </div>
      </div>
    </div>
    </div>