
   @font-face {
    font-family: "Almarai";
    src: url("./assets/fonts/tsstApxBaigK_hnnQ1iFow.woff2") format("woff2");
    }
    @font-face {
    font-family: "Almarai-semiBold";
    src: url("./assets/fonts/tssoApxBaigK_hnnS-agtnqWow.woff2")
      format("woff2");
    }
    @font-face {
    font-family: "Almarai-bold";
    src: url("./assets/fonts/tssoApxBaigK_hnnS_qjtnqWow.woff2")
      format("woff2");
    }