<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-clockwise-fade-rotating" [fullScreen] = "true"></ngx-spinner>
<div class="container-fluide">

    <div class="mat-elevation-z8 example-container">
  
    <table mat-table [dataSource]="dataSource" >
    
       <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> {{'ID' | translate}} </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{paginator.pageIndex * paginator.pageSize + i + 1}} </td>
      </ng-container>
      
        <!-- Position Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef class="try"> {{'العنوان' | translate}} </th>
          <td mat-cell *matCellDef="let element" class="try"> {{element.title }} </td>
          
        </ng-container>
        <ng-container matColumnDef="street">
          <th mat-header-cell *matHeaderCellDef class="try"> {{'الشارع' | translate}} </th>
          <td mat-cell *matCellDef="let element" class="try"> {{element.street }} </td>
          
        </ng-container>

        <ng-container matColumnDef="district">
            <th mat-header-cell *matHeaderCellDef class="try"> {{'المنطقة' | translate}} </th>
            <td mat-cell *matCellDef="let element" class="try"> {{element.district.name }} </td>
            
          </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef> {{'تعديل' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.updatedAt | date:'d/M/yyy'}} </td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> {{'انشاء' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'d/M/yyy' }} </td>
        </ng-container>
      
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="pointer"> {{'Action' | translate}} </th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon style="color:dodgerblue"class="pointer"  title="edit" (click)="editRow(element)" >
                    edit </mat-icon>  
                <mat-icon style="color:#ffae00"class="pointer" title="inactive" *ngIf="element.state === 'inActive'" (click)="Active(element)">highlight_off</mat-icon>  
                <mat-icon style="color:green"class="pointer" title="active" *ngIf="element.state === 'active'" (click)="Active(element)">check_circle_outline</mat-icon>  
              </td>
              </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    
    </div>
  </div>